@charset "UTF-8";

/*declaraçoes gerais*/

        *{
    padding: 0px;
    margin: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(19, 19, 165);
    padding: 10px;
}

        /*declaraçoes retrato*/

        @media screen and (orientation:portrait) {

            body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}
            
        }

        /*declaraçoes paisagem*/

        @media screen and (orientation:landscape) {

            body{
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}
            
        }