.container{
    height: 100vh;
    width: 97vw;
    display:grid ;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
}
.caixa{
    
    background-color: blue;
    border: 1px border black;
    text-align: center;
    padding: 10px;
}
#topo{
    grid-area: 1/1/2/-1;
    background-color: rgb(82, 31, 177);
    color: white;
}
#menu{
    grid-area:2/1/3/-1 ;
    background-color: blueviolet;
}
#principal{
    grid-area:3/1/-2/2 ;

}
#secundario{
    grid-area:3/-2/-2/-1 ;
    background-color: rgb(127, 255, 234);

}
#rodape{
    grid-area:-2/1/-1/-1 ;
    background-color: blueviolet;

}