@charset "UTF-8";

    /*todas as demais mideas*/

    /*tipical device backpoints
    
    celular:481px–767px;

    tablet:768px–991px;

    desktop:1200px–1439px ou até 1919px;

    telas grandes:2560px+;

    */

        @media print {
            body{
                background-image: url(../imagens/back-print.jpg);
                font-family: 'Courier New', Courier, monospace;
                
            }

            main{
                border: 2px solid black;
            }


            main h1 {
                text-shadow: none;
                color: black;

            }

            img#phone{display: none}
            img#tablet{ display: none;}
            img#print{ display: block;}
            img#pc{ display: none;}
            img#tv{ display: none;}

        }

        @media screen and (min-width:760 ) and (max-width:991)/*tablet*/{

            body{
                background-image: url(../imagens/back-tablet.jpg);
            }

            img#phone {display: none;}
            img#tablet { display: block;}
            img#print { display: none;}
            img#pc { display: none;}
            img#tv { display: none;}

        }

        @media screen and (min-width:1200) and (max-width:1919){/*desktop*/
            body{
                background-image: url(../imagens/back-pc.jpg);
            }

            img#phone{display: none}
            img#tablet{ display: none;}
            img#print{ display: none;}
            img#pc{ display: block;}
            img#tv{ display: none;}

        }

        @media screen and (min-width:2560){
            body{
                background-image: url(../imagens/back-tv.jpg);
            }

            img#phone{display: none}
            img#tablet{ display: none;}
            img#print{ display: none;}
            img#pc{ display: none;}
            img#tv{ display: block;}
        }