@charset

body{
    
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
 color: #599e73;  
}

h1#principal {
    text-align: center;
    background-color: #34544; 
}

h2{
    color: #72c592;
}

p{
    color: green;
}