@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
background-image: linear-gradient(to left,#DB9D3B,#DBC68A);
}
main{
    background-color: #DB9D3B;
    width: 740px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 19px 10px 10px rgba(63, 63, 63, 0.616);
}
p{
    color: rgb(100, 150, 26);
    text-align: justify;
}
h1{
    text-align: center;
color: #d8b071;
box-shadow: 1px 1px 0px black;
}
h2{
color: #AFDB5A;
}












