@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

html body{
    background-color: lightgray;
}

header{
    background-color: darkgray;
}
header > h1{
    padding: 10px;
    text-align: center;

}
i#burger{
    background-color: rgb(78, 78, 78);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

i#burger:hover{
    background-color: white;
    color: rgb(83, 83, 83);

}

menu{
    display: none;
}
menu > ul{
    list-style-type: none;
}
menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(112, 112, 112);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(148, 148, 148);
}

menu > ul > li > a:hover{
    background-color: rgb(145, 144, 144);
}

main{
    
    width: 90vh;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
article > h1 {
    padding-bottom: 10px;
}
 article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
 }