@charset "UTF-8";

/* estilo para impresoras*/

*{
    padding: 10px;
    margin: 10px;

}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size:1em;
    line-height:1.5em;
}
menu{
    display: none;
}
article::after{
    content: "esse artigo foi impreso no site www.curso em video.com";
}
article{
    width: 100%;
}